language: php

dist: yakkety
sudo: required

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1

before_script:
  - sudo apt-get install libsodium-dev
  - pecl install libsodium
  - composer install

script: phpunit --coverage-text tests
